@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #f5f5f5;
}

.container__header {
  height: 100px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.logo img {
  width: 180px;
}

.menu nav ul {
  display: flex;
}

.menu nav ul li {
  list-style: none;
  padding: 0px 20px;
}

.menu nav ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #000;
  transition: opacity 300ms;
}

.menu nav ul li a:hover {
  opacity: 0.6;
}

.btn__header-cerrar,
.btn__register-cover {
  padding: 14px 50px;
  border: none;
  background: #000;
  color: white;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background, color, 300ms;
}

.btn__header-cerrar:hover,
.btn__register-cover:hover {
  background: #69f1a1;
  color: #000;
}

#icon_menu {
  display: none;
}

main {
  max-width: 1200px;
  height: calc(100vh + 800px);
  padding: 40px;
  margin: auto;
}

.cover {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.text__information-cover {
  width: 50%;
}

.text__information-cover h1 {
  font-size: 50px;
}

.text__information-cover p {
  font-size: 18px;
  margin-top: 40px;
}

.buttons__cover {
  display: flex;
  margin-top: 40px;
}

.btn__readMore-cover {
  padding: 14px 40px;
  border: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  transition: background 300ms;
}

.btn__readMore-cover:hover {
  background: #e8e8e8;
}

.media__cover {
  width: 50%;
}

.media__cover video {
  width: 100%;
  margin-top: -40px;
}

.container__banner {
  margin-top: 80px;
}

.banner {
  height: 250px;
  display: flex;
  align-items: center;
  background: #121214;
  position: relative;
}

.banner__icon-world {
  width: 50%;
  height: 100%;
}

#icon_world {
  width: 300px;
  margin-top: -45px;
  position: relative;
  filter: drop-shadow(-40px 0px 30px rgba(0, 0, 0, 0.5));
}

.banner__text {
  width: 60%;
  position: relative;
  left: -200px;
  padding: 40px;
}

.banner__text h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}

.banner__text a {
  text-decoration: none;
  display: block;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: color 300ms;
}

.banner__text a:hover {
  color: #69f1a1;
}

.banner__icon-hand {
  height: 100%;
  position: absolute;
  right: 0px;
  overflow: hidden;
}

#icon_hand {
  width: 350px;
  position: relative;
  margin-top: 15px;
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .container__header,
  main {
    padding: 20px;
  }

  #icon_menu {
    display: block;
    cursor: pointer;
    font-size: 24px;
  }

  .header__cerrar {
    display: none;
  }

  .menu {
    height: 0px;
    position: absolute;
    right: 20px;
    top: 70px;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.5);
    transition: all 300ms;
  }

  .menu nav ul {
    padding: 20px 0px;
    flex-direction: column;
    background: #fff;
  }

  .menu nav ul li {
    padding: 10px 40px;
  }

  .mostrar_menu {
    height: 235px;
  }

  .text__information-cover h1 {
    font-size: 40px;
  }

  .text__information-cover p {
    font-size: 16px;
  }

  .banner__text h2 {
    font-size: 22px;
  }
}

@media (max-width: 920px) {
  .text__information-cover {
    width: 100%;
  }

  .media__cover {
    display: none;
  }

  .banner {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }

  .banner__text {
    width: 100%;
    margin-top: -100px;
  }
}

footer {
  width: 100%;
  padding: 40px 0px;
  background-color: black;
  background-size: cover;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer .logo img {
  width: 180px;
}

.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: white;
  font-size: 18px;
}

.box__footer h2 {
  color: white;
  margin-bottom: 30px;
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  color: white;
  font-weight: 600;
}

.box__footer a:hover {
  opacity: 0.8;
